<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body class="container">
<!--<div th:include="fragment/headerLangs :: langs">-->
<!--</div>-->
<!--<span th:if="msgWithoutLogin != null" th:text="${session.msg_without_login}"></span>-->
<div class="wrapper">
    <form action="#" th:action="@{/register}" method="POST" class="form-signin">

        <!--<span class="form-signin-heading alert-danger" th:if="${#fields.hasErrors('name')}"-->
        <!--th:text="#{error.name}"></span>-->
        <input th:type="text" th:placeholder="#{name}" class="form-control"/>

        <!--<span class="form-signin-heading alert-danger" th:if="${#fields.hasErrors('surname')}"-->
        <!--th:text="#{error.surname}"></span>-->
        <input th:type="text" th:placeholder="#{surname}" class="form-control"/>

        <!--<span class="form-signin-heading alert-danger" th:if="${#fields.hasErrors('age')}"-->
        <!--th:text="#{error.age}"></span>-->
        <input type="number" th:placeholder="#{age}" class="form-control"/>

        <!--<span class="form-signin-heading alert-danger" th:if="${#fields.hasErrors('email')}"-->
        <!--th:text="#{error.email}"></span>-->
        <input th:type="email" th:placeholder="#{email}" class="form-control"/>

        <!--<span class="form-signin-heading alert-danger" th:if="${#fields.hasErrors('password')}"-->
        <!--th:errors="*{password}"></span>-->
        <input th:type="password" th:placeholder="#{password}" class="form-control"/>

        <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{createAccount}"></button>
        <a th:href="@{/}" th:text="#{pleaseLogin}"></a>
    </form>
</div>
</body>
</html>